body {
    background-color: rgb(118, 34, 80);
}
#abt_container{
    display: flex;
}
#abt_label {
    padding-top: 15px;
}
#abt_box {
    padding-left: 72px;
}
#form_container {
    width: 35%;margin-top: 20vw;
    margin-bottom: 20vw;
    margin-left: 25vw;padding: 20px 100px 5px 20px;
    background-color: rgb(128, 27, 61);color: white;
    font-family:Arial, Helvetica, sans-serif;
}
.form_output {
    padding: 5px;
}
.form_input {
    margin-left: 20%;padding: 10px;
}
#name {
    margin-left: 75px;
}
#email {
    margin-left: 76px;
}
#pwd{
    margin-left: 45px;
}
#phone {
    margin-left: 10px;
}
#male {
    margin-left: 60px;
}
#lang{
    margin-left: 50px;background-color: rgb(237, 234, 234);
    padding: 3px;font-weight: bold;
}
#zip {
    margin-left: 45px;
}
#reg_button {
    width: 300px;
    padding: 10px;font-size: 18px;
    font-weight: bold;border: 0px solid black;
    border-radius: 5px;
}